build/
vs_project/
output/
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.slnx
*.suo
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
Ankh.NoLoad

# But keep the example engine.vcxproj
!engine.vcxproj